body {
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#myContainer{
    color: cornflowerblue;
}
.MyContainerType{
    color: darkgoldenrod;
    border: 3px;
    border-color: black;
    border-style: dashed;
}
.MyButton{
    background-color: darkgreen;
    transition-duration: 50ms;
}
.MyButton:hover{
    background-color: green;
}