body {
    margin: 0px;
    background-color: #9cafb7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.NavigatorBar{
    height: 65px;
    text-align:left;
    line-height:65px;
    font-size:15px;
    background-color: #9d939f;
}

.TopNavButton{
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: #342d36;
    border-radius: 10px;
}

.TopNavButton:hover{
    background-color: #afc1c9;
}